.hedrClass{
grid-area: h;
    background-color: darkgreen;
}
.hedrClass img{
    width: 20px;
    border-radius: 10px;
}
.loginBlock{
    float: right;
}
.loginBlock a {
    color: white;
    text-decoration: none;
}